<% include ./partials/topnav %>
<div class="container">
  <div>
    <h1 class="h1 sparta_page_header">Failed To Send</h1>
    <p class="lead"><strong>Please check you have filled in the form correctly. If you have further issues please contact the Delivery Team.</strong></p>
    <hr class="my-4">
    <h5><%= message %></h5>
    <hr class="my-4">
    <p class="lead">
      <form class="" action="/" method="get">
        <button class="btn btn-secondary submit" type="submit">Back</button>
      </form>
    </p>
  </div>
</div>
